<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Disable WebDAV so OPTIONS works and no clashes -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>

    <!-- Allow OPTIONS verb (CORS preflight) -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- Serve index.html by default -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Make sure special asset types are mapped without duplication -->
    <staticContent>
      <!-- Remove if already defined upstream, then (re)add -->
      <remove fileExtension=".wasm" />
      <remove fileExtension=".map" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".map"  mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <!-- SPA rewrite: if not an existing file/dir, send to index.html -->
    <rewrite>
      <rules>
        <rule name="ReactSpa" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
